+++
title = "Merbridge"
linkTitle = "Merbridge"

+++

{{< blocks/cover title="Merbridge：使用 eBPF 加速服务网格，提高服务性能" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		了解更多 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="docs/getting-started">
		快速开始 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">开始探索 Merbridge 吧！</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Merbridge 在服务网格中使用 eBPF 技术代替 iptables，实现流量拦截。借助 eBPF 和 msg_redirect 技术，Merbridge 可以提高 Sidecar 和应用之间的传输速度，降低延迟。

如需了解更多实现细节或者原理，请参阅 [Blog](blog)
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="查看文档" %}}
如您在使用 Merbridge 时遇到任何问题，请参阅[文档](docs)

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="欢迎贡献！" url="https://github.com/merbridge/merbridge/pulls" %}}
欢迎您在 **GitHub** 上[提交 PR](https://github.com/merbridge/merbridge/pulls) 贡献自己的聪明才智。我们一直期待您的加入！
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-rss" title="实现原理!" url="blog" %}}
有关 Merbridge 的实现细节，请参阅[博客](blog)
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/lead color="300" >}}
<b>Merbridge 是一个<a href="https://www.cncf.io">云原生基金会 (CNCF)</a> 沙箱项目</b> <br />
<br />
<img src="https://landscape.cncf.io/images/right-logo.svg" width="600"/>
{{% /blocks/lead %}}
