+++
title = "Merbridge"
linkTitle = "Merbridge"

+++

{{< blocks/cover title="Merbridge: use eBPF to improve your mesh performance by reducing latency" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="docs/getting-started">
		Get Started <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Explore Merbridge</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Merbridge replaces iptables rules with eBPF to intercept traffic, and combines msg_redirect to reduce latency with a shortened datapath between sidecars and services.

For details, see: [Blog](blog).
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Documentation" %}}
If you have any problems in using Merbridge, our [Documentation](docs) may offer desirable solutions.

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Make a Contribution" url="https://github.com/merbridge/merbridge/pulls" %}}
You can [open a PR](https://github.com/merbridge/merbridge/pulls) on **GitHub** to improve Merbridge. Your contribution is a big help！
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-rss" title="How it Works!" url="blog" %}}
If you are interested in details of Merbridge, this [Blog](blog) may take care of your curiosity.
{{% /blocks/feature %}}


{{< /blocks/section >}}
