+++
title = "Merbridge"
linkTitle = "Merbridge"

+++

{{< blocks/cover title="Merbridge: use eBPF to accelerate your mesh" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="docs/getting-started">
		Get Started <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Currently supported Istio, Linkerd2, and Kuma.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Merbridge replaces iptables rules with eBPF to intercept traffic. It also combines <b>msg_redirect</b> to reduce latency with a shortened datapath between sidecars and services.

For details, see: [Blog](blog).
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Documentation" %}}
If you have any problems in using Merbridge, [Documentation](docs) may offer a quick solution.

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contribution" url="https://github.com/merbridge/merbridge/pulls" %}}
You can [create a PR](https://github.com/merbridge/merbridge/pulls) on **GitHub** to improve Merbridge. Your contribution is a big help！
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-rss" title="Implementation" url="blog" %}}
If you are interested in details of Merbridge, [Blog](blog) may tell you more.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/lead color="300" >}}
<b>Merbridge is a <a href="https://www.cncf.io">Cloud Native Computing Foundation</a> sandbox project</b> <br />
<br />
<img src="https://landscape.cncf.io/images/cncf-landscape-horizontal-color.svg" width="600"/>

<b>
	The Linux Foundation has registered trademarks and uses trademarks.
	For a list of trademarks of The Linux Foundation, please see our
	<a href="https://www.linuxfoundation.org/legal/trademark-usage">Trademark Usage page</a>.
</b>
{{% /blocks/lead %}}
